  {% extends "blog/base.html" %}
  {% block content %}
    {% for post in posts %}
    <div style="display:flex;border:.1px solid black;margin:10px;width:40%;padding:20px;">
    <div style="margin:20px">
     <p>{{ post.author }}</p>
    <img src="{{ post.author.profile.image.url }}" style="width:80px;border-radius:100%;background-color:lightblue">
    </div>
    <div style="margin:20px">
    <h1>{{ post.content }}</h1>
    <a href="{% url 'post-detail' post.id %}">See this article</a>
    </div>
    </div>
    {% endfor %}
  {% endblock %}