{% extends "blog/base.html" %}

{% block content %}
  
  
  <div class="content-section">
  <form method="POST">
  {% csrf_token %}
  <filedset class="form-group">
  <legend>Do you really want to delete the post {{object.title}}</legend>
  </fieldset>
  
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'post-detail' object.id %}" class="btn btn-secondary">Cancel</a>

  </form>

  </div>
 


{% endblock %}