{% extends "blog/base.html" %}
{% block content %}
    <img src="{{ object.author.profile.image.url }}" style="width:80px">
    <h1>{{ object.content }}</h1>
    <p>{{ object.author }}</p>
    {% if object.author == user %}
      <a class="btn btn-secondary" href="{% url 'post-update' object.id %}">Update</a>
      <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
    {% endif %}
{% endblock %}