{% extends "blog/base.html" %}

{% block content %}
  
  <div style="display:flex;align-items:center;justify-content:space-evenly">
 <img src="/media/{{ user.profile.image }}" style="border-radius:50%;height:150px">
  <h1>{{ user.username }}</h1>
</div>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <filedset class="form-group">

  {{ u_form.as_p}}
  {{ p_form.as_p}}
  </fieldset>
  
    <button type="submit" class="btn btn-success">Sign up</button>

  </form>

{% endblock %}