{% extends "blog/base.html" %}

{% block content %}
  
  <div class="content-section">
  <form method="POST">
  {% csrf_token %}
  <filedset class="form-group">
  <legend class="border-bottom mb-4 ">
  Join today
  </legend>
  {{ form.as_p}}
  </fieldset>
  
    <button type="submit" class="btn btn-success">Sign up</button>

  </form>

  </div>
 


{% endblock %}